<% provide(:title, 'Add Credit Card') %>
<h1>Add a credit card</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for([@user, @credit_card], :url => user_credit_cards_path) do |card| %>
		<% if @credit_card.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@credit_card.errors.count, "error") %> prohibited
				this credit card from being saved:
			</h2>
			<ul>
				<% @credit_card.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<%= card.label :name, "Cardholder Name" %>
		<%= card.text_field :name %>
		<%= card.label :number %>
		<%= card.text_field :number %>
		<%= card.label :month %>
		<%= card.text_field :month %>
		<%= card.label :year %>
		<%= card.number_field :year %>
		<%= card.label :cvv, "CVV"%>
		<%= card.number_field :cvv %>
		<%= card.label :cc_type, "Card Type" %>
		<%= card.select :cc_type, options_for_select(%w[MasterCard Visa Discover American\ Express])%>
		<%= card.submit "Add", class: "btn btn-primary" %>
		<% end %>
		<br>
		<p class="text-center"><%= link_to 'Return to your dashboard', user_path(@user) %></p>
	</div>
</div>