<% provide(:title, @user.name) %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<% if current_user.admin? %>
			  <h1>Welcome, CRS Administrator!</h1>
			<% else %>
			<h1>
				Welcome, <%= @user.name %>!
			</h1>
			<%= gravatar_for @user %>
			<br>
			<div class="text-center">
			<div class="alert alert-info" role="alert">
				<p>Select an option below to get started. Don't forget to add your papers and credit cards before starting a registration!</p>
				</div>
				<h3>Manage your conference registrations</h3>
				<p><%= link_to "Submit a new conference registration", select_conference_path%></p>
				<p><%= link_to "View all of your conference registrations", conference_registrations_path%></p>
				<h3>Manage your papers</h3>
				<p><%= link_to 'Upload a new paper', new_user_paper_path(@user) %></p>
				<p><%= link_to 'View all of your papers', user_papers_path(@user) %></p>
				<h3>Manage your credit cards</h3>
        <p><%= link_to 'Add a new credit card', new_user_credit_card_path(@user)%></p>
        <p><%= link_to 'View all of your credit cards', user_credit_cards_path(@user) %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>
