<div class="panel-heading">
	<h3 class="panel-title">Fee Summary</h3>
</div>
<div class="panel-body" id="total_due">
	<table class="table table-condensed" >
		<tr>
			<td><strong>Conference Fee</strong></td>
			<td><%= number_to_currency(@fee) %></td>
		</tr>

		<% if @paper != nil %>
			<tr>
				<td><strong>Paper Fee</strong></td>
				<td><%= number_to_currency(@paper_fee) %></td>
			</tr>
		<% end %>

		<% if @events != 0 %>
			<tr>
				<td><strong>Event(s) Fee</strong></td>
				<td><%= number_to_currency(@event_fees) %></td>
			</tr>
		<% end %>

		<tr>
			<td><strong>Subtotal</strong></td>
			<td><%= number_to_currency(@total) %></td>
		</tr>

		<tr class="success">
			<td class="success"><strong>Discount</strong></td>
			<td class="success"><%= number_to_percentage(@discount * 100, precision: 0) %> off!</td>
		</tr>

		<tr class="success">
			<td class="success"><strong>Total Due</strong></td>
			<td class="success"><%= number_to_currency(@total_due) %></td>
		</tr>

	</table>

	<div class="well">
		<div class="alert alert-success" role="alert">
			<p class="center"><%= @discount_name %> successfully applied to your total!</p>
		</div>
	</div>
</div>