<% provide(:title, 'Edit Paper') %>
<h1>Edit this credit card</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@paper, url: user_paper_path, method: :patch, :html => { :multipart => true }) do |paper| %>
		<% if @paper.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@paper.errors.count, "error") %> prohibited
				this paper from being saved:
			</h2>
			<ul>
				<% @paper.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<%= paper.label :title %>
		<%= paper.text_field :title %>
		<%= paper.label :authors %>
		<%= paper.text_field :authors %>
		<% if paper.object.attachment? %>
		<div class="control-group">
		  <label class="control-label">Current paper</label>
		  <div class="controls">
		    <%= link_to paper.object.title, paper.object.attachment.url %>
		  </div>
		</div>
		<%= check_box_tag :remove_attachment %>
		<%= label_tag(:remove_attachment, "Remove paper?" ) %>
		<% end %>

		<%= paper.file_field :attachment %>
		

		<%= paper.submit "Update", class: "btn btn-primary" %>
		<% end %>
	</div>
	<p class="text-center"><%= link_to 'Return to your dashboard', user_path(@user) %></p>
</div>