<% provide(:title, "View Registrations") %>
<h1>Your conference registrations</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <table class="table table-bordered table-striped">
			<tr>
				<th>Name</th>
				<th>Conference</th>
				<th>Paper</th>
				<th>Diet</th>
				<th>Total</th>
				<th>Edit</th>
				<th>Cancel</th>
				<th>Receipt</th>
			</tr>
			<% @user_registrations.each do |reg| %>
			<tr>
				<td><%= reg.name %></td>
				<td><%= Conference.find_by(id: reg.conference_id).name %></td>
				<td>
				  <% if reg.paper_id %>
				  	<%= Paper.find_by(id: reg.paper_id).title %>
				  <% else %>
            <%= "None" %>
				  <% end %>
				</td>
				<td><%= reg.diet %></td>
				<td><%= number_to_currency(Receipt.find_by(conference_registration_id: reg.id).total) %></td>
				<td><%= Conference.find_by(id: reg.conference_id).fee %></td>
				<td></td>
        <td></td>
			</tr>
			<% end %>
		</table>
  </div>
</div>