<% provide(:title, 'Conference Registration Receipt') %>
<h1>Registration Receipt</h1>
<h2>Thank you for registering for the <br><%= @conference.name %>!</h2>
<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Participant Information</h3>
			</div>
			<div class="panel-body">
				<p><strong>Name:</strong> <%= @conf_reg.name%></p>
				<p><strong>Email:</strong> <%= @conf_reg.email %></p>
				<p><strong>Participant's Dietary Preference:</strong> <%= @conf_reg.diet %></p>
			</div>
		</div>

    <% if @paper %>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Paper Information</h3>
				</div>
				<div class="panel-body">
					<% if @paper %>
					<p><strong>Title:</strong> <%= @paper.title %></p>
					<p><strong>Author(s):</strong> <%= @paper.authors %></p>
					<p><p><strong>Title:</strong> <%= @paper.title %></p>
					<% else %>
					<p><strong>None</strong></p>
					<% end %>
				</div>
			</div>
		<% end %>
    
    <% if @events != 0 %>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Selected Event(s) Information</h3>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Name</th>
						<th>Event Type</th>
						<th>Fee</th>
					</tr>
					<% @events.each do |event| %>
					<tr>
						<td><%= event.name %></td>
						<td><%= event.event_type %></td>
						<td><%= number_to_currency(event.fee) %></td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
    <% end %>

    <div class="panel panel-primary" id="update_total">
			<div class="panel-heading">
				<h3 class="panel-title">Fee Summary</h3>
			</div>
			<div class="panel-body" id="total_due">
				<table class="table table-condensed" >
					<tr>
						<td><strong>Conference Fee</strong></td>
						<td><%= number_to_currency(@conference.fee) %></td>
					</tr>
					<% if @paper %>
						<tr>
							<td><strong>Paper Fee</strong></td>
							<td><%= number_to_currency(@conference.paper_fee) %></td>
						</tr>
					<% end %>
					<% if @events != 0 %>
						<tr>
							<td><strong>Event(s) Fee</strong></td>
							<td><%= number_to_currency(@event_fees) %></td>
						</tr>
					<% end %>
					<tr class="info">
						<td class="info"><strong>Total Paid</strong></td>
						<td class="info"><%= number_to_currency(@total) %></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Payment Information</h3>
			</div>
			<div class="panel-body">
				<p class="center"><strong><%= number_to_currency(@total) %> paid with credit card ending in <%= mask(@card.number) %></strong></p>
			</div>
		</div>
		<%= button_to 'Print your receipt', 'your_link_here', :onclick => 'window.print();return false;', class: "btn btn-primary"%>
	</div>
</div>
